# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Caches & Test Coverage
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/

# Build & Distribution Artifacts
build/
dist/
*.spec
*.egg-info/
.eggs/

# Binary dependencies & compiled outputs
bin/*.exe
*.exe

# Logs, Diagnostics & Temp files
*.log
*.tmp
*.reg
scratch/

# Environments
.venv/
venv/
env/
ENV/

# IDE & Editor Settings
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS Metadata
.DS_Store
Thumbs.db
desktop.ini